{% extends "layout.html" %}
 
{% block content %}
    <div class="page_center">
        <h1 class="mb-3">Login</h1>
        <!-- Form that will pass the login credentials provided by the user to the '/login' route to be processed and verified -->
        <form action="/login" method="POST">  
            <div class="form-group">
                <input type="text" placeholder="Email Address" name="email" class="form-control mb-2" required>
                <!-- By using a password input type, the password is automatically protected from view when typed in to prevent shoulder surfing -->
                <input type="password" placeholder="Password" name="password" class="form-control" required>
            </div>
            <!-- Button used to login and to check login credentials -->
            <button type="submit" class="btn btn-primary">Login</button>
            <!-- Link provided for users to register a new account if they do not already have one -->
            <p>Don't have an account?</p>
            <a href="/register">Register</a>
        </form>
    </div>
{% endblock %}
